html {
  font-family: 'Lato', sans-serif !important;
}

body {
  height: fit-content;
  position: relative;
}

.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.705),rgba(0, 0, 0, 0.705)), url(https://images.unsplash.com/photo-1444824775686-4185f172c44b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6c3dcf58bb589856e8a3b0e21412fbeb&auto=format&fit=crop&w=1050&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#music {
  font-weight: 900;
}

.is-fun {
  color: #77B300;
}

.card {
  width: 18rem;
  background: #77B300;
  align-items: center;
  border-radius: 7px;
}

img {
  border-radius: 10px;
}

.card:hover {
 background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
 cursor: pointer;
}

.m-3{
  margin: 1%;
}

.audio-width{
  width: 100%;
  cursor: pointer;
}

#bg-image {
  background-image: url(https://images.unsplash.com/photo-1420161900862-9a86fa1f5c79?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2a1a8ce2f8a4378aa6556383d3d40cca&auto=format&fit=crop&w=1050&q=80), linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  min-height: 100vh;
  min-width: 100vw; 
}

footer {
 width: 100vw;
 bottom: 0;
}

